<!DOCTYPE html>
{% extends 'mysite/index.html' %}
{% block body_block %}
<section id="Profile">
</br></br>
    <h2> <b>Make a Choice</b></h2>
    <img src="\static\images\water.jpg"  width="280" height="290" class="center">
        <a href="{% url 'register' %}">
            <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Register</button>
        </a>
        <a href="{% url 'login' %}">
            <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Login</button>
        </a>
    </br></br>
    </br></br>
    </br></br>
    </br></br>
    </br></br>
    </br></br>
</section>
{% endblock %}